# Ignore node_modules
node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build output
dist

# Ignore environment variables
.env

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore IDE/editor files
.vscode/
.idea/
*.swp